/* You can add global styles to this file, and also import other style files */

/* imports*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
}

header {
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.subHeading {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.subTitle {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.container {
  display: grid;
  width: 100vw;
  height: 90vh;
}

.taCenter {
  text-align: center;
}

.centerC {
  place-self: center;
}

.imageExpand {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.imageGallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}





.headerContainer {
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
