<div class="headerContainer">
  <app-header></app-header>
    <!-- <p>{{message1}}</p>
    <p>{{message2}}</p> -->

</div>
<div >
  <div class="grow p-20">

    <p class="my-5 text-slate-500 subHeading">chose from</p>
    <div>
    <app-dog-breed-dropdown (messageEvent1)="receiveMessage1($event)"></app-dog-breed-dropdown>
    </div>
    <p class="text-slate-500 my-5 subHeading">Options</p>
    <div class="my-5">
   <!-- <app-breed-options-modal></app-breed-options-modal> -->
    </div>

    <app-view-images-button (messageEvent2)="receiveMessage2($event)"></app-view-images-button>
  </div>
  <div>
    <div class="imageGallery" *ngFor="let dog1 of dogs1">
      <img [src]="dog1"/>
    </div>
  </div>
</div>



